body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  display: flex;
  background-color: rgb(90, 85, 85);
  color: white;
}
.navTitle {
  width: 50vw;
}
.navInfo {
  width: 50vw;
}
form {
  margin-top: 20px;
}
input[type=text] {
  margin: 0 5px;
}
.movie-wrap {
  width: 70vw;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie {
  background-color: rgb(230, 228, 167);
  width: 200px;
  padding: 0 20px;
  margin: 10px;
  border-radius: 10px;
}
